/* font */

.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }



/* header */

.header{
    background-image: url(../assets/Hero-bg.png);
}

  /* banner styles */

.banner{
    display: flex;
    justify-content: center;
    margin: 0px auto;
    

  }
.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 298px 221px 100px 221px;

}

.banner-title{
    font-size: 45px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    text-align: center;
    
  }

.banner-description{
    width: 852px;
    height: 52px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 26px;
    color:rgb(13, 19, 33);
    opacity: 0.7;
}


/* Button style */
.btn-primary{

    background-color: rgb(13, 19, 33);
    border-radius: 8px;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color:rgb(255, 255, 255);
    padding: 21px 24px 21px 24px;
    margin: 32px 0px;
    cursor: pointer;
    
}

.banner-profile-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

/* main */

main{
    max-width: 1140px;
    margin: 0 auto;
}

.secondary_bg{
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 80px 97px 80px 97px;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 16px;  
    margin-top: 74px;  
    }

/* shared */
.secondary-title{
    justify-content: center;
    text-align: center;
    font-weight: 800;
    font-size: 32px;
}

.second-page-content{
    flex-direction: column;
    align-items: center;
    display: flex;
}

.second_a{
    margin: auto;
    padding: 5%;
}
.second_b{
    margin: auto;
    padding: 5%;
}
.second-description{
    text-align: left;

}

.learnMore-btn{
    padding: 10px;
    font-size: 16px;          
    text-align: center;  
}

/* video */

.video-container{

    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 88px;
  
}
iframe{
    
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
}

/* shared */
.third-description{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 26px;
    color:rgb(13, 19, 33);
    opacity: 0.7;

}


/* Current Target section */

#color1{
    background: rgba(255, 76, 30, 0.05)
}
#color2{
    background: rgba(0, 76, 232, 0.05);
}
#color3{
    background: rgba(255, 223, 0, 0.05);

}

.current-target{
    margin-top: 149px;
}
#skill-des-gap{
    margin-bottom: 48px;
}

.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 40px;
    border-radius: 16px;
}

.skill-title{
    font-weight: 800;
    font-size: 24px;
    text-align: left;

}

.skill-description{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

.learn-more{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
}


/* Support Section */

.support-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 41px;
    border-radius: 16px;
    background-image: url("../assets/handshake.jpg");
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
}

.support-content{
    
    margin-top: 64px;
    margin-bottom: 64px;
}

.support-content h3{
    font-size: 32px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-bottom: 16px;

}
.support-content p{
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    opacity: 0.7;

}

.support-content input{
    width: 548px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    margin-top: 24px;
}

main input[type="text"]{
    font-size: 16px;
    padding: 20px;
}

#submit-btn{
    font-size: 20px;
    font-weight: 600;
    width: 120px;
    height: 58px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* footer style */

.footer-container{
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 100px;
    background-color: rgba(13, 19, 33, 0.03);
    border-radius: 16px;
    padding: 32px 150px 32px 150px;
    margin: 79px auto 0;
}

.footer-title{
    font-size: 20px;
    font-weight: 600;
}

.contact{
    width: 157px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}